server {

        listen   80;
        listen   [::]:80 default ipv6only=on;

        server_name localhost kiwix;

        location /download/ {
                alias ROOT;
        }

        location /downloads/ {
                alias ROOT;
                autoindex on;
        }

        error_page   404 = /;

        access_log  /var/log/nginx/kiwix.access.log;
        error_log /dev/null crit;

        location ~ "^/(search|.+/.*)" {
                proxy_pass              http://localhost:4201;
                proxy_set_header        X-Real-IP  $remote_addr;
	}

        location ~ "^/[^\/]*$" {
                root ROOT/system/landing;
                index index.html index.htm;
        }

}
