server {

        listen   80;
        listen   [::]:80 default ipv6only=on;

        server_name localhost kiwix;

        location /download/ {
                alias /media/usb2/;
        }

        location /downloads/ {
                alias /media/usb2/data/;
                autoindex on;
        }

        error_page   404 = /;

        access_log  /var/log/nginx/kiwix.access.log;
        error_log /dev/null crit;

        location /_ {
                rewrite /_(.*)  /_$1 break;
                proxy_pass        http://localhost:4201;
                proxy_set_header  X-Real-IP  $remote_addr;
        }

        location /search {
                rewrite /search(.*)     /search$1 break;
                proxy_pass        http://localhost:4201;
                proxy_set_header  X-Real-IP  $remote_addr;
        }

        location /skin {
                rewrite /skin/(.*)      /skin/$1 break;
                proxy_pass        http://localhost:4201;
                proxy_set_header  X-Real-IP  $remote_addr;
        }

        location /@status {
                alias /tmp/kiwix_status;
        }

        location /@stats/ {
                alias /var/www/kiwix/stats/;
                index awstats.kiwix.html;
                autoindex on;
        }

        location /{
                root /var/www/kiwix;
                index  index.html index.htm;
        }
}
